<h1>These are our Recipes</h1>

<div *ngFor = "let recipe of recipes" class="panel panel-default">
    <div class='panel panel-default' style='max-width: 500px'>
        <div style="float:right">
            <img src="{{ recipe.cover_photo ? recipe.cover_photo : './assets/empty_bowl.jpg' }}" style="width:150px; height: 150px" />
        </div>
        <div class='panel-heading'>
            <h3 class="panel-title">{{ recipe.title }}</h3>
        </div>

        <div class='panel-body'>
            {{ recipe.description }}
        </div>
    </div>

    
</div>