<h1>These are our Recipes</h1>

<div *ngFor = "let recipe of recipes" class="panel panel-default recipe">
    <div class='panel-heading'>
        <h3 class="panel-title">{{ recipe.title }}</h3>
    </div>
        
        <div class='panel-body'>
                <div class="cover-photo-holder">
                        <img src="{{ recipe.cover_photo ? recipe.cover_photo : './assets/empty_bowl.jpg' }}" />
                </div>
          <p><b>Description:</b> {{ recipe.description }}</p>
        </div>
</div>    
